################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Timus-Online-Judge/v16/Browse.VC.opendb
